.container{
    margin: 20px !important;
}

.MuiTableHead-root{
    background-color: #EDEDF3;
}

.MuiTableRow-root{
    padding: 30px !important;
    margin: 30px !important;
}

.headTag{
    margin: 1px;
}